<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
    <title>Todolist</title>

    <!-- <style>
        
        @media only screen and (min-width: 600px) {
          .container{
              width: 400px;
              
          }
        }
            </style> -->
</head>

<body>
    <div class="container" style="margin-top: 120px;">
        <h1>Welcome <%= username %> :)
        </h1>

        <a href="/logout" class="btn btn-danger" >logout</a>


        <br>
        <br>

        <% if(lists!=0){ %>
            <a href="/home/add"><button type="button" class="btn btn-primary">ADD</button></a>
           
            <table  class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">SNO</th>
                        <th scope="col">Title</th>
                        <th scope="col">Created/Updated At</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% lists.forEach(function(lists,index){ %>
                        <tr>
                            <th scope="row">
                                <%= index+1 %>
                            </th>
                            <td style="font-weight: bold;"><a href="/home/showlist/<%= lists._id %>">
                                    <%= lists.Title %>
                                </a></td>
                            <td>
                                <%= lists.created_at.toDateString() %>
                            </td>
                            <td><a href="/home/edit/<%= lists._id %>"><img src="/images/edit.png" alt="edit"
                                        style="height: 23px;"></td></a>
                            <td><a href="/home/delete/<%= lists._id %>"><img src="/images/delete.png" alt="delete"
                                        style="height: 23px;"></td></a>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <% } else { %>
                <br>
                <br>
                <center>
                    <h1> Time To Create your Todolist!</h1>
                </center>
                <br>

                <center> <a href="/home/add"><button type="button" class="btn btn-primary">ADD</button></a>
                </center>
             
                <% } %>
    </div>








    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>


</body>

</html>